*{
    margin: 0;
    padding: 0;
font-family: sans-serif;
}
body{
    background-image:url('/images/msilogin1.jpeg');
    color: aliceblue;
    background-size:cover ;
}
.content{
    width: 100%;
  position: absolute;
  top:40%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.tab{
    
    background-image: url(/images/msibackground.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 25px;
    margin: 50px 250px;
    color:brown;
    text-transform: uppercase;
    font-size: 20px;
   
}
input{
    
    border-radius: 7px 4px ;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius:25px ;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

  
}

span{
    background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;

}
button:hover span{
  
    width: 100%;
}
button:hover{
    background-color: black;
    border: none;
    
}
a{
    
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color:burlywood;
}